<div class="copperdiv">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<a href="tel:435.655.3333">Phone: 435.655.3333</a>
				<a href="tel:888.323.2664">Toll Free: 888.323.2664</a>
				<a href="mailto:sales@llumitech.com">Email: sales@llumitech.com</a>
			</div>
			<div class="col-md-4">
				<a href="#/{{rp.view}}">Regular</a>
				<a href="#/v1/{{rp.view}}">V1</a>
				<a href="#/v2/{{rp.view}}">V2</a>
			</div>
		</div>
	</div>
</div>
<div class="blackdiv">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>Contractors</h3>
				<h3>Landscapers</h3>
			</div>
		</div>
	</div>
</div>