<div class="well light">
	<h1>About Us</h1>
	<div class="row">
		<div class="col-sm-6">
			<p>Llumitech Lighting is a leading manufacturer of landscape luminaires. Successful architects, designers, and installers have relied on Llumitech's reputation as a company that is committed to establishing the industry's highest standards in lighting technology, product reliability, and safety. With a passion for service, innovation, and dependable performance, Llumitech continues to provide products that are a reflection of our customer's own commitment to quality.</p>
		</div>
		<div class="col-sm-6">
			<p>Copper is nature's best technology for outdoor luminaries. Copper will never rust, rot, or corrode, even in the harshest environments. This is why copper is really the only choice for outdoor lighting. All textures are handcrafted in the U.S.A.</p>
		</div>
	</div>
	<img src="http://llumitech.com/images/pic_about.jpg" class="fit" style="margin: 25px auto;"></img>
</div>