<div class="well light" ng-controller="VdCtrl">
	<h1>Voltage Drop Calculator</h1>
	<h2>Comming Soon</h2>
	<!--<table class="table table-striped">-->
	<!--	<thead>-->
	<!--		<tr>-->
	<!--			<th>Lamp</th>-->
	<!--			<th>Watts</th>-->
	<!--			<th>Distance</th>-->
	<!--			<th>Voltage</th>-->
	<!--		</tr>-->
	<!--	</thead>-->
	<!--	<tbody>-->
	<!--		<tr ng-repeat="lamp in lamps">-->
	<!--			<td>{{$index+1}}</td>-->
	<!--			<td><input type="number" ng-model="lamp.watts"></td>-->
	<!--			<td><input type="number" ng-model="lamp.distance"></td>-->
	<!--			<td>{{tools.calculate(lamp)}}</td>-->
	<!--		</tr>-->
	<!--	</tbody>-->
	<!--</table>-->
	<!--<a class="btn btn-primary btn-block" ng-click="tools.addLamp()">Add A Lamp</a>-->
</div>