<div class="row" ng-controller="SetupCtrl">
	<div class="col-md-4">
		<ul class="list-group">
			<li class="list-group-item active" ng-show="data.roles.length">
				Roles
			</li>
			<li class="list-group-item active" ng-hide="data.roles.length" ng-click="tools.roles.setup()">
				Setup Roles
			</li>
			<li class="list-group-item parent" ng-repeat="role in data.roles | orderBy:'order'">
				<h4>{{role.name}}</h4>
				<ul class="list child"><!-- child -->
					<li class="list-group-item" ng-repeat="user in role.users">
						<a ng-click="tools.user.editRoles(user)">
							<span class="title">- {{user.fullName}} -</span>
						</a>
					</li>
				</ul>
			</li>
			</ul>
	</div>
	<div class="col-md-4" ng-show="data.unassigned">
		<ul class="list-group">
			<li class="list-group-item active">
				Unassigned Accounts
			</li>
			<li class="list-group-item" ng-repeat="user in data.unassigned">
				<a ng-click="tools.user.editRoles(user)">
					<span class="title">{{user.fullName}}</span>
					<span class="sub">{{user.email}}</span>
				</a>
			</li>
		</ul>
	</div>
	<div ng-include="'modules/admin/setup/partials/userModal.html'"></div>
	<div ng-include="'modules/admin/setup/partials/roleModal.html'"></div>
</div>