<div class="modal fade" id="adminProductModal">
	<div class="modal-dialog">
		<form class="form-horizontal" ng-submit="tools.product.save(product)">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Manage Product</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="productTitle" class="col-lg-3 control-label">Title</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="productTitle" ng-model="product.title">
						</div>
					</div>
					<div class="form-group">
						<label for="productPrice" class="col-lg-3 control-label">Price</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="productPrice" ng-model="product.price">
						</div>
					</div>
					<div class="form-group">
						<label for="productDiscounted" class="col-lg-3 control-label">Contractor Price</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="productDiscounted" ng-model="product.discounted">
						</div>
					</div>
					<div class="form-group">
						<label for="productCategory" class="col-lg-3 control-label">Category</label>
						<div class="col-lg-9">
						<select class="form-control" id="productCategory" ng-model="product.category" ng-options="category.title for category in categories"></select>
						</div>
					</div>
					<div class="form-group">
						<label for="productDescription" class="col-lg-3 control-label">Description</label>
						<div class="col-lg-9">
							<textarea class="form-control" id="productDescription" ng-model="product.description" placeholder="Description"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="productSpecs" class="col-lg-3 control-label">Specs</label>
						<div class="col-lg-9">
							<textarea class="form-control" id="productSpecs" ng-model="product.specs" placeholder="Specs"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6">
							<div media-manager="tools.product.uploadPic" class="media-manager" max-width="600" max-height="600">
								<div ng-hide="product.pic" class="thumbnail fit">Product Picture</div>
								<img id="productPicture" ng-show="product.pic" class="thumbnail fit" 
								ng-class="product.pic.class" 
								ng-src="{{product.pic.src}}" 
								title="{{product.pic.name}}">
								<span class="clearfix" ng-show="product.pic.temp">
									Uploading picture... This may take a while.
								</span>
							</div>
						</div>
						<div class="col-md-6">
							<div media-manager="tools.product.uploadSpec" class="media-manager" max-width="600" max-height="600">
								<div ng-hide="product.spec" class="thumbnail fit">Product Specs</div>
								<img id="productSpecs" ng-show="product.spec" class="thumbnail fit" 
								ng-class="product.spec.class" 
								ng-src="{{product.spec.src}}" 
								title="{{product.spec.name}}">
								<span class="clearfix" ng-show="product.spec.temp">
									Uploading image... This may take a while.
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div ng-hide="product.objectId">
						<button type="submit" class="btn btn-success">Add Product</button>
					</div>
					<div ng-show="product.objectId">
						<a class="btn btn-danger" ng-click="tools.product.clear()">Discard</a>
						<button type="submit" class="btn btn-success">Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>