<div class="well light" ng-controller="AdminProductCtrl">
	<div class="row showcase">
		<div class="col-md-3" ng-repeat="product in products | orderBy:'title'">
			<div class="well">
				<div class="imgContainer h150">
					<img class="fit" ng-src="{{product.pic.src}}"></img>
				</div>
				<h3>{{product.title}}</h3>
				<!--<p>{{product.description}}</p>-->
				<div class="btn-group btn-group-justified" role="group">
					<a class="btn btn-warning" ng-click="tools.product.edit(product)"><i class="fa fa-pencil"></i></a>
  					<a class="btn btn-danger" ng-click="tools.product.delete(product)"><i class="fa fa-trash"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well" ng-click="tools.product.add()">
				<div class="imgContainer h150">
					<img class="fit" src="assets/img/other/plus.png"></img>
				</div>
				<h3>Create</h3>
					<a class="btn btn-primary btn-block">New Product</a>
			</div>
		</div>
	</div>
	<div ng-include="'modules/admin/products/partials/productModal.html'"></div>
</div>