<div class="well light" ng-controller="AdminCategoryCtrl">
	<div class="row">
		<div class="col-md-3" ng-repeat="category in categories | orderBy:'position'">
			<div class="well">
				<div class="imgContainer h150">
					<img class="fit" ng-src="{{category.pic.src}}"></img>
				</div>
				<h3>{{category.title}}</h3>
				<!--<p>{{category.description}}</p>-->
				<div class="btn-group btn-group-justified" role="group">
					<a class="btn btn-warning" ng-click="tools.category.edit(category)"><i class="fa fa-pencil"></i></a>
					<a class="btn btn-danger" ng-click="tools.category.delete(category)"><i class="fa fa-trash"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well" ng-click="tools.category.add()">
				<div class="imgContainer h150">
					<img class="fit" src="assets/img/other/plus.png"></img>
				</div>
				<h3>Create</h3>
					<a class="btn btn-primary btn-block">New Category</a>
			</div>
		</div>
		
		<!--Add A Category-->
		<div ng-include="'modules/admin/categories/partials/categoryModal.html'"></div>
	</div>
</div>